<div class="container1">
    <br><h1>Categories</h1><br>
    <div class="table-responsive-sm"id="table">
        <table class="table rounded-top">
            <thead class="thead-dark " id="thead1">
              <tr>
                <!-- <th scope="col">#</th> -->
                <th>Sl. No.</th>
                <th scope="col">Name</th>
                <th scope="col" style="width:500px ;">Description</th>
                <th scope="col">  </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let category of categories; let i=index" >
                <!-- <td>1</td> -->
                <td>{{i+1}}</td>
                <td>{{category.categoryName}}</td>
                <td>{{category.categoryDescription}}</td>
                <td><button class="btn-edit" (click)="editCategory(category._id)"><fa-icon [icon]="faPen"></fa-icon> Edit</button>
                  <button class="btn-delete" (click)="deleteCategory(category._id)"><fa-icon [icon]="faTrashCan"></fa-icon> Delete</button></td>
              </tr>
              <tr>
                <!-- <td>1</td> -->
                <td></td>
                <td></td>
                <td></td>
                <td><button title="Add category" class="btn-add" type="button" (click)="addCategory()"><fa-icon id="add-icon" [icon]="faPlusCircle"></fa-icon></button></td>
              </tr>
              
            </tbody>
            
          </table>
      </div>
</div>

