.container1{
    max-width: 100vw;
   height: 100vh;
   margin: auto;
    /* background-color: aqua; */
}
h1{
    display: flex;
    justify-content: center;
}
#table{
    margin: auto;
    max-width: 900px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 8px;
}
table th{
    background-color: rgb(60, 143, 143);
}
table td{
    background-color: rgb(255, 255, 255);
}
table th:first-child{
    border-radius:8px 0 0 0px;
  }
  
  table th:last-child{
    border-radius:0 8px 0px 0;
    
  }
  
  .btn-edit{
    width: 80px;
    margin: 0px 10px 0px 10px;
    background-color: #FA9905;
    border: 1px solid #FA9905;
    color: white;
    border-radius: 8px;
    height: 30px;
}
.btn-delete{
    width: 80px;
    margin: 0px 10px 0px 10px;
    background-color: #fa0557;
    border: 1px solid #fa0557;
    color: white;
    border-radius: 8px;
    height: 30px;
}
.btn-add{
    width: 30px;
    /* margin: 0px 10px 0px 10px; */
    background-color: #fa9805;
    border: 1px solid #fa980500;
    color: #ffffff;
    font-size: large;
    border-radius: 50%;
    height: 30px;
}