<div class="container1">
    <h1>Users List</h1><br>
    <div class="table-responsive-sm"id="table">
        <table class="table rounded-top">
            <thead class="thead-dark " id="thead1">
              <tr>
                <!-- <th scope="col">#</th> -->
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let category of categories">
                <!-- <td>1</td> -->
                <td>{{category.categoryName}}</td>
                <td>{{category.categoryDescription}}</td>
                <td><button>Edit</button><button>Delete</button></td>
              </tr>
              
            </tbody>
          </table>
      </div>
</div>

