<div class="container1">
  <div class="gradient1"></div>
  <!-- <div id="wave"><img src="https://images.unsplash.com/photo-1517524285303-d6fc683dddf8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt=""></div> -->
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <!-- <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div> -->
    <div class="carousel-inner">

      <div class="carousel-item active">
        <div class="gradient2"></div>
        <img
          src="https://images.unsplash.com/photo-1503220317375-aaad61436b1b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
          style="object-fit: none;
          object-position: 0px -200px;" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block" id="caption1">
          <h1 style="font-family: DynaPuff;
            font-weight: 600; font-size:64px ;line-height:70px">Travel..</h1>
          <p>Adventures are the best way to learn..!</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="gradient3"></div>
        <img
          src="https://images.unsplash.com/photo-1543353071-873f17a7a088?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
          style="object-fit: none;
          object-position: -5px 30%;" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block" id="caption2">
          <h2 style=" font-family: DynaPuff;
            font-weight: 600;font-size: 64px; line-height:70px">Food</h2>
          <p style="line-height: 40px;">Sugar, spice, and everything nice.</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="gradient4"></div>
        <img
          src="https://images.unsplash.com/photo-1525983360072-2ebda055ba40?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80"
          style="object-fit: none;
          object-position: 0px -850px;" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block" id="caption3">
          <h1 style=" font-family: DynaPuff;
            font-weight: 600;font-size: 64px; line-height:70px">Pets</h1>
          <p style="line-height: 40px;">Love is a wet nose and a wagging tail.</p>
        </div>
      </div>
    </div>
    <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button> -->
  </div>
  <svg width="100%" height="100%" id="svg" viewBox="0 0 1440 400" xmlns="http://www.w3.org/2000/svg"
    class="transition duration-300 ease-in-out delay-150">
    <defs>
      <linearGradient id="gradient" x1="0%" y1="50%" x2="100%" y2="50%">
        <stop offset="5%" stop-color="#FF8E00"></stop>
        <stop offset="95%" stop-color="#FFE400"></stop>
      </linearGradient>
    </defs>
    <path
      d="M 0,400 C 0,400 0,200 0,200 C 88.14908965991069,187.7615939539677 176.29817931982137,175.5231879079354 234,183 C 291.7018206801786,190.4768120920646 318.9563723806252,217.66884232222606 390,206 C 461.0436276193748,194.33115767777394 575.8763311576779,143.80144280316046 650,146 C 724.1236688423221,148.19855719683954 757.5383029886635,203.12538646513224 816,223 C 874.4616970113365,242.87461353486776 957.9704568876675,227.6970113363106 1024,213 C 1090.0295431123325,198.3029886636894 1138.5798694606665,184.08656818962552 1205,182 C 1271.4201305393335,179.91343181037448 1355.7100652696668,189.95671590518725 1440,200 C 1440,200 1440,400 1440,400 Z"
      stroke="none" stroke-width="0" fill="url(#gradient)" fill-opacity="1"
      class="transition-all duration-300 ease-in-out delay-150 path-0"></path>
  </svg>
  <div class="row box">
    <div class="col aboutus">
      <div class="card">
        <div class="card-header">
          Plaster Cast
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>Create a beautiful blog that fits your style. Add the memorable moments captured and give your blog the perfect home. </p>
            <footer class="blockquote-footer">Plaster Cast Team..</footer>
          </blockquote>
        </div>
      </div>
    </div> 
  </div>
  
</div>