<div class="container1">
    <h1>Users List</h1><br>
    <div class="table-responsive-sm"id="table">
        <table class="table rounded-top">
            <thead class="thead-dark " id="thead1">
              <tr>
                <th scope="col">Sl. No</th>
                <th scope="col">Name</th>
                <th scope="col">Mail ID</th>
                <th scope="col">Account Type</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of Users; let i=index">
                <td>{{i+1}}</td>
                <td>{{user.username}}</td>
                <td>{{user.mailid}}</td>
                <td *ngIf="!editmode[i]">{{user.accountType}}<button style="float: right;"(click)="change(i)">Change</button></td>
                <td *ngIf="editmode[i]"><select id="category"name="accountType" [(ngModel)]="this.editUserForm.accountType">
                  <option *ngFor="let type of types; let i=index" value="{{type}}">{{type}}</option>
              </select><button style="float: right;" (click)="changePrivilage(user._id,i)">Update</button></td>
              </tr>
            </tbody>
          </table>
      </div>
</div>

