@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
.container1{
    margin: 0px;
    width: 100vw;
    height: 90vh;
    overflow-x: hidden;
    display: flex;
}
.sidebar {
    max-width: 250px;
    width: 100%;
    background-color: #377D71;
    height: 90vh;
justify-content: center;
}
.sidebar a{
  width: 80%;
    display: block;
    line-height: 30px;
    color: white;
    margin: 11px 0px;
    padding: 20px 0px 11px 10px;
    text-decoration: none;
    text-align: left;
}
.sidebar a.active {
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 600;
    padding: 10px 20px;
    background-color: #F2F2F2;
    color: black;
    border: 1px solid #F2F2F2;
    border-radius: 8px;
  }
.sidear a:hover{
    background-color: aliceblue;
}
.sidebar a:hover:not(.active) {
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 600;
    padding: 10px 20px;
    background-color: #F2F2F2;
    color: black;
    border: 1px solid #F2F2F2;
    border-radius: 8px;
  }
.right{
    width: 83.9vw;
    height: 100vh;
    background-color: #ffffff;
    margin-left: 0px;
    overflow-x: hidden;
    
}
#iconfa{
  float: left;
    width: 25px;
    height: 25px;
    padding-left: 30px;
    padding-right: 35px;
}


/* .sidebar {
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 400;
    margin: 10px 20px;
    padding: 0;
    width: 200px;
    background-color: #636D79;
    position: fixed;
    height:95%;
    overflow: auto;
  } */
  /* .sidebar a {
    display: block;
    color: white;
    margin: 11px 0px;
    padding: 11px 0px 11px 10px;
    text-decoration: none;
    text-align: left;
  } */

  /*  */
 
 /* img{
      height: 76px;
      width: 76px;
  }
  .logo-image{
    margin-top: 36px;
    margin-left: 30%;
  }*/
  fa-icon{
    float: left;
    width: 25px;
    height: 25px;
    padding-left: 30px;
    padding-right: 35px;
  } 