<div class="container1">
    <div class="sidebar">
        <!-- <div class="logo-image">
              <img src="{{logoImage}}" width="50px" height="50px">
        </div> -->
    <a class="active"routerLink="adminprofile"> <fa-icon [icon]="faDeleteLeft"></fa-icon>
        Profile</a>
    <a class="inactive"routerLink="userlist" *ngIf="auth.rootUserVerify()"><fa-icon id="iconfa" [icon]="faUsersGear"></fa-icon>Users List</a>
    <a class="inactive"routerLink="categories"><fa-icon [icon]="faLayerGroup"></fa-icon>Categories</a>
    <!-- <a class="inactive"routerLink="employees">adsad</a>
    <a class="inactive"routerLink="#about">sdd</a>
    <a class="inactive"routerLink="#about">adad</a> -->
    </div>
    <div class="right">
        <!-- <app-users-list></app-users-list> -->
        <router-outlet></router-outlet>
    </div>
</div>


