<div class="container">
   <br> <h1>My Blogs</h1><br>
    <div class="container1">
      <div class="my-col" *ngFor="let blog of myBlogs">
        <div class="card bg-dark text-white aligned-card">
          <a (click)="showBlogPage(blog._id)">
              <img class="card-img" src="{{blog.postImage}}" alt="Card image">
          <div class="card-img-overlay">
            <h2 class="card-title">{{blog.title}}</h2>
            <h3 class="card-category">{{blog.category}}</h3>
            <!-- <p>{{blog.username}}</p> -->
            <p class="card-text" id="description">{{blog.description}}</p>
            <small id="date">Last Updated on {{blog.postdate | date}}</small><br>
            <!-- <button id="delete-icon" (click)="deleteBlog(blog._id)">Delete</button> -->
            <div style="position: absolute; bottom: 0px; right: 0px;">
        <button class="butn" type="button" (click)="updatePost(blog._id)" title="Edit Blog"><fa-icon [icon]="faPenToSquare"></fa-icon></button>
        <button class="butn" type="button" (click)="deleteBlog(blog._id)" title="Delete Blog"><fa-icon [icon]="faTrashCan"></fa-icon></button>
      </div>
            <!-- <p class="card-text">Last updated 3 mins ago</p> -->
          </div>
          </a>
        </div>
      </div>
        
        </div>
</div>

