/* .navbar{
} */
.container1{
    position: relative;
    padding-left: 2vw;
    padding-right: 2vw;
    background-image: linear-gradient(to bottom,black,rgba(0, 0, 0, 0));
    z-index: 200;
    /* position: fixed;
    margin-top: 0px;
    width: 100%; */
}
.container2{
    padding-left: 2vw;
    padding-right: 2vw;
    background-image: linear-gradient(to bottom,black,rgba(0, 0, 0, 0.719));
    z-index: 200;
    /* position: fixed;
    margin-top: 0px;
    width: 100%; */
}
.nav-link{
    color:white;
    
}
.active1{
    color: rgb(255, 255, 255);
    font-weight: bold;
}
button{
    border:none;
    color: white;
}
button:hover{
    font-weight: bold;
    color: white;
}