/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=latin-ext');

@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', arial, sans-serif;
}

body {
    overflow-x: hidden;
    background-color: rgb(65, 148, 134);
}
.container1{
    /* position: relative;
    top: 0px; */
    margin-bottom: 0px;
    z-index: -1;
    background-color: white;
    overflow-y: scroll;
    /* background-image: url('https://images.unsplash.com/photo-1516796181074-bf453fbfa3e6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
    background-size: cover;
    background-position: bottom; */
}
.gradientlayer {
    /* padding:0px;
    margin: 0px;
    width: 100vw;
    height: 100vh;
    background: #000000c5;
    z-index: 2; */
    position: absolute;
    /* top: 0px; */
    width: 100vw;
    height: 80vh;
    /* background: rgba(0, 0, 0, 0.5); */
    background-image: linear-gradient(to bottom, black,rgba(0, 0, 0, 0));
}

.banner {
    margin-top: 0px;
    width: 100vw;
    height: 80vh;
    /* background-image: url("https://images.unsplash.com/photo-1552733407-5d5c46c3bb3b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1380&q=80"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.overlay {
    z-index: 4;
}

.banner h4 {
    margin-top: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 0.5px;
}

.banner h2 {
    /* width: 70%; */
    font-family: 'Spectral', serif;
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    line-height: 44px;
    text-transform: capitalize;
    padding: 0 10%;
}
.banner h5 {
    /* width: 70%; */
    font-family: 'Spectral', serif;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    /* line-height: 44px; */
    /* text-transform: capitalize; */
    /* padding: 10%; */
}
.banner p {
    color: #fff;
    font-size: 16px;
}

.banner .primary-button {
    margin-top: 30px;
}

.blog-content {
    display: flex;
    background-color: #1d1c1c;
    /* background-image: url('https://images.unsplash.com/photo-1487147264018-f937fba0c817?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80');
    background-size: cover;
    background-position: bottom; */
    width:70% ;
    height: auto;
    padding: 30px 60px 30px 60px;
    box-shadow: 0px 0px 10px 0px;
    color: #000000;
    margin-top: -90px;
    margin-bottom: 50px;
    align-items: center;
    text-align: justify;
  text-justify: inter-word;
    z-index: 4;
}
.blog-content p{
    color: white;
    font-family: Poppins;
    font-size: 16px;
    line-height: 24px;

}
.butn{
    width: 30px;
    margin: 0px 5px 40px 5px;
    background-color: #fa980500;
    border: 1px solid #fa9805;
    color: #FA9905;
    border-radius: 8px;
    height: 30px;
}
.blog-comment {
    background-color: #ffffff;
    /* background-image: url('https://images.unsplash.com/photo-1487147264018-f937fba0c817?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80');
    background-size: cover;
    background-position: bottom; */
    width:70% ;
    height: auto;
    font-family: Poppins;
    font-weight: 300;
    padding: 30px 60px 30px 60px;
    box-shadow: 0px 0px 10px 0px;
    color: #000000;
    margin-top: 0px;
    margin-bottom: 50px;
    align-items: center;
    text-align: justify;
  text-justify: inter-word;
    z-index: 4;
}
.blog-addcomment {
    /* display: flex; */
    background-color: #ffffff;
    /* background-image: url('https://images.unsplash.com/photo-1487147264018-f937fba0c817?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80');
    background-size: cover;
    background-position: bottom; */
    width:70% ;
    height: auto;
    padding: 0px;
    color: #ffffff;
    margin-top: 0px;
    align-items: right;
    z-index: 4;
}
fa-icon{
    padding-right: 5px;
}
#add{
   position: relative;
   left: 75%;
    color: black;
}
.blog-addcomment button{
    background-color: white;
    border: none;
    color: rgb(134, 134, 134);
}
.comments{
    display: flex;

}
#form-reg > input{
    position: absolute;
    width:700px ;
    /* width: 100%; */
    font-family: Poppins;
    padding-left: 20px;
    height: 40px;
    border: 1px solid rgb(185, 184, 184);
    border-radius: 8px;
}
#form-reg fa-icon {
    margin-top: 50px;
    color: green;
}
@media (max-width: 700px) {
    .banner h2 {
        padding: 1%;
        font-size: 32px;
        font-weight: 600;
    }

    .blog-content {
        margin-top: -80px;
        padding: 30px;
        width: 85%;
    }
}