<div class="container1">
    <div class="container-fluid" *ngFor="let i of blog">
        <div class="gradientlayer"> </div>
        <section class="banner" [style.backgroundImage]="'url('+i.postImage+')'">
          
          <div class="container-fluid" >
            <!-- <div style="position:relative; float:right; margin-top: 1%;z-index: 40;">
        <button class="butn" type="button" (click)="updatePost(i._id)"><fa-icon [icon]="faPenToSquare"></fa-icon></button>
        <button class="butn" type="button" (click)="deleteBlog(i._id)" *ngIf="auth.loggedIn() && !auth.userVerify()"><fa-icon [icon]="faTrashCan"></fa-icon></button>
      </div> -->
              <div class="row justify-content-center">
                  <div class="col overlay">
                      <!-- <h4>Here you can find delecious foods</h4> -->
                      <h2>{{i.title}}</h2>
                      <br>
                      <h5>Created by {{i.username}}</h5>
                      <br>
                      <p>Last updated on {{i.postdate | date}}</p>
                      <!-- <p>Quisque nec nibh id lacus fringilla eleifend sed sit amet sem. Donec lectus odio, mollis a nisl non, tempor interdum nisl.</p> -->
                     <br>
                  </div>
              </div>
          </div>
      </section>
      <div class="row justify-content-center">
        <div class="blog-content">
          <p>{{i.description}}</p>
        </div>
      </div>
      <div style="display: flex;
      align-items: center;
      justify-content: center;">
        <button class="butn" type="button" (click)="updatePost(i._id)" *ngIf="auth.loggedIn() && !auth.userVerify()" title="Edit Blog"><fa-icon [icon]="faPenToSquare"></fa-icon></button>
        <button class="butn" type="button" (click)="deleteBlog(i._id)" *ngIf="auth.loggedIn() && !auth.userVerify()" title="Delete Blog"><fa-icon [icon]="faTrashCan"></fa-icon></button>
      </div>
        
      
      </div>
</div>

  
    



