<footer class="footer">
    <div class="container">
    <div class="row">
        <!-- <div class="footer-col">
            <h4>Marketplace</h4>
            <ul>
                <li><a href="#">All NFTs</a></li>
                <li><a href="#">Solana NFTs</a></li>
                <li><a href="#">Art</a></li>
                <li><a href="#">Collectibles</a></li>
                <li><a href="#">Domain names</a></li>
                <li><a href="#">Music</a></li>
                <li><a href="#">Photography</a></li>
                <li><a href="#">Sports</a></li>
                <li><a href="#">Utility</a></li>
            </ul>
        </div> -->
        <div class="footer-col">
            <h4>art collections</h4>
            <ul>
                <li><a routerLink="mural">Mural</a></li>
                <li><a routerLink="acrylic">acrylic</a></li>
                <li><a routerLink="abstract">Abstract</a></li>
                <li><a routerLink="watercolor">watercolor</a></li>
                <li><a routerLink="pastel">Pastel</a></li>
                <li><a routerLink="charcoal">Charcoal</a></li>
                <!-- <li><a href="#">NFTs</a></li> -->

            </ul>
        </div>
        <div class="footer-col">
            <h4>artists</h4>
            <ul>
                <li><a href="#artiststrip">Akbar Padamsee</a></li>
                <li><a href="#artiststrip">Anjolie Ela Menon</a></li>
                <li><a href="#artiststrip">Bharati Shah</a></li>
                <li><a href="#artiststrip">Bansi Khatri</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>company</h4>
            <ul>
                <li><a href="#aboutus">about us</a></li>
                <li><a href="contactus">Contact us</a></li>
                <li><a routerLink="login">login</a></li>
                <li><a routerLink="register">register</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>Resources</h4>
            <ul>
                <li><a href="#">Help Center</a></li>
                <li><a href="#">platform status</a></li>
                <li><a href="#">partners</a></li>
                <li><a href="#">Taxes</a></li>
                <li><a href="#">newsletter</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>follow us</h4>
            <div class="social-links">
                <a href="https://www.facebook.com/campaign/landing.php?campaign_id=16115752481&extra_1=s%7Cc%7C580541349582%7Ce%7Cfacebook%7C&placement=&creative=580541349582&keyword=facebook&partner_id=googlesem&extra_2=campaignid%3D16115752481%26adgroupid%3D130343387942%26matchtype%3De%26network%3Dg%26source%3Dnotmobile%26search_or_content%3Ds%26device%3Dc%26devicemodel%3D%26adposition%3D%26target%3D%26targetid%3Dkwd-1001394929%26loc_physical_ms%3D9040214%26loc_interest_ms%3D%26feeditemid%3D%26param1%3D%26param2%3D&gclid=Cj0KCQjwkruVBhCHARIsACVIiOyK3Pt8kZO1t3Hbfb1t98opxAplliVNZGuCut5j7lNkW-jYuVEb3-MaAv9qEALw_wcB"><fa-icon [icon]="faFacebookF"></fa-icon></a>
                <a href="https://twitter.com/i/flow/login"><fa-icon [icon]="faTwitter"></fa-icon></a>
                <a href="https://www.instagram.com/"><fa-icon [icon]="faInstagram"></fa-icon></a>
                <a href="https://www.linkedin.com/signup"><fa-icon [icon]="faLinkedinIn"></fa-icon></a>
            </div>
        </div>
    </div>
    </div>
</footer>


