<div class="container1">
<br>
    <div class="container2">

        <div class="form-box">
            
            <form id="form-reg" [formGroup]="registerForm" (ngSubmit)="registerUser()">
                <h1>Register</h1><br><br>
                <label for="email">Email</label><br>
                <input type="text" id="email" name="mailid" formControlName="mailid"><br>
                <small style="color: red;" *ngIf="registerForm.controls['mailid'].touched && registerForm.controls['mailid'].invalid">Invalid email id!</small>
                <small style="color: green;" *ngIf="registerForm.controls['mailid'].valid">Valid!</small>
                <br>
                
                <label for="username">Name</label><br>
                <input type="text" id="username" name="username" formControlName="username"><br>
                <small style="color: red;"*ngIf="registerForm.controls['username'].touched && registerForm.controls['username'].invalid">Only letters and spaces are allowed!</small>
                <small style="color: green;"*ngIf="registerForm.controls['username'].valid">Valid!</small><br>
                
                <label for="user" style="padding-right: 40px;" >Account Type</label><br>
                <select name="" id=""name="accountType" formControlName="accountType">
                    <option value="Admin">Admin</option>
                    <option value="User">User</option>
                </select><br><br>
                <!-- <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                    <label class="form-check-label" for="inlineRadio1">1</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                    <label class="form-check-label" for="inlineRadio2">2</label>
                  </div><br> -->
                <label for="pwd">Password</label><br>
                <input type="password" id="pwd" name="password" formControlName="password"><br>
                <small style="color: red;"*ngIf="registerForm.controls['password'].touched && registerForm.controls['password'].invalid">Password should contain atleast one uppercase letter, lowercase letter and number</small>
                <small style="color: green;"*ngIf="registerForm.controls['password'].valid">Valid!</small><br>
                
                <label for="confpwd">Confirm Password</label><br>
                <input type="password" id="confpwd" name="passwordCnfrm" formControlName="passwordCnfrm"><br>
                <small style="color: red;"*ngIf="registerForm.controls['passwordCnfrm'].touched && (registerForm.controls['password'].value !== registerForm.controls['passwordCnfrm'].value)">Passwords do not match!</small>
                <small style="color: green;"*ngIf="registerForm.controls['passwordCnfrm'].touched && (registerForm.controls['password'].value === registerForm.controls['passwordCnfrm'].value)">Passwords Match!</small><br>
                
                <button [disabled]="this.registerForm.invalid" id="submit">Submit</button><br>
                <p>Already have an account? <a routerLink="/adminlogin">Login</a> </p> 
            </form>
        </div>
        
    </div>
    <br>
</div>

